@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.App {
  font-family: 'Poppins';
}

.content-container {
  width: 1315px;
  margin: 0 auto;
}

.upper-container {
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

.upper-right {
  display: flex;
  gap: 20px;
}

.upper-right img {
  width: 25px;
  height: 25px;
}




\\ .navbar {
  background-color: #F4F4F4;
}


/* Search */
.searchbar-container {
  background-color: #003F62;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-container {
  width: 140px;
  padding-left: 120px;
}

.signin-container {
  color: white;
  display: flex;
  justify-content: right;
}

.signin,
.favorite,
.basket {
  padding: 0 10px;
  font-size: 20px;
}


/* Product slider*/

.banner-container {
  font-weight: 700;
  font-size: 43px;
  color: #1B5A7D;
}


.banner-container .text-short {

  font-size: 25px;
  font-weight: 400;
}


.promotion-price {
  position: absolute;
  background-color: #EDA415;
  font-size: 21px;
  color: white;
  right: 30px;
  bottom: 0px;
  padding: 20px 30px;
  border-radius: 80px;
}

/* Categoty*/

.category-card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 43.35px;
  width: 381.63px;
  height: 147px;
  border: 1px solid #A5A5A5;
  border-radius: 20px;
}

.category-cards-container {
  display: flex;
  justify-content: center;
}

.category-text {
  width: 60%;
}

.title {
  font-weight: 600;
font-size: 23.38px;
line-height: 35px;
color: #1B5A7D;
}

.item{
  font-weight: 500;
font-size: 18.8462px;
line-height: 28px;
color: #265F7F;
}


/* Popular products*/

.popular-products {
  display: flex;
  justify-content: space-between;

}

.popular-btn button {
  width: 139px;
  height: 45px;
  border: 1px solid #003F62;
  border-radius: 20px;
  padding: 0px;
  gap: 20px;
}


/* Product*/

.product-card {
  padding: 10px;
  border: 1px solid #ddd;
  width: 220px;
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  margin: 10px;
}

.product-img-container {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
}

.product-img-container img {
  max-height: 100%;
  width: auto;
  display: flex;
}

.product-text {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 10px;
  position: relative;
}

.product-text div {
  padding: 3px 0;
}

.heart {
  width: 27.54px;
  height: 27.54px;
}

.product-cards-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

/* Banner*/
.banner-container1 {
  background-image: url(../public/pictures/banner.png);
  background-size: cover;
  height: 270px;
}


.banner-container1 button {
  background: #EDA415;
  border-radius: 20px;
  width: 134px;
  height: 45px;
  color: #FFFFFF;
}

.banner-container1 p:nth-child(2) {
  font-weight: 700;
  font-size: 41px;
  line-height: 62px;
  color: #2E8FC5;
}

.banner-container1 p:nth-child(3) {
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: #FFFFFF;
}


/* Description*/

.description {
  display: flex;
  background-color: #E2F4FF;
  justify-content: space-around;
  margin-top: 75px;
  padding: 20px;
  border-radius: 20px;
}

.description p {
  margin: 0px;
}

.description p:nth-last-child(1) {
  margin-top: 6px;
  font-weight: 400;
  font-size: 18.09px;
  line-height: 27px;
  color: #003F62;
}

.description p:nth-child(1) {
  color: #003F62;
  font-weight: 600;
  font-size: 22.09px;
  line-height: 33px;
}

.description1 {
  display: flex;
  gap: 10px;
  align-items: center;
}

.description2 {
  display: flex;
  align-items: center;
  gap: 10px;
}

.description3 {
  display: flex;
  align-items: center;
  gap: 10px;
}


/* About us*/

.aboutUs-container {
  border: 1px solid #BABABA;
  border-radius: 20px;
  margin-top: 20px;
  margin-right: 15px;
}


.aboutUs-upper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

}

.aboutUs-bottom {
  background-color: #E2F4FF;
  font-weight: 400;
  font-size: 13.1707px;
  line-height: 20px;
  color: #003F62;
  padding: 5px;
  border-radius: 18.695px;
}

/* Logos */

.logos {
  width: 1317px;
  height: 136px;
  background: #E2F4FF;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 55.3px;
}


.logos img {
  width: 206.16px;
  height: 41.23px;
}


.wishList {
  color: red;
  position: absolute;
  width: 330px;
  background-color: white;
  right: 1vw;
  top: 130px;
  border: 1px solid #A5A5A5;
  border-radius: 10px;
}

.latest-container {
  border: 1px solid #C8C8C8;
  border-radius: 20px;
  margin-top: 50px;
  padding: 40px 15px;
}

.latest {
  font-weight: 600;
  font-size: 25.38px;
  line-height: 38px;
  color: #1B5A7D;
  margin-top: 100px;
}

.latest-date {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 10px;
  width: 147px;
  height: 41px;
  border: 1px solid #D4D4D4;
  border-radius: 20px;
}

.latest-title {
  font-weight: 600;
  font-size: 22.38px;
  line-height: 34px;
  color: #1B5A7D;
}

.latest-detail {
  font-weight: 400;
  font-size: 13.1707px;
  line-height: 20px;
  color: #003F62;
}

.latest-source {
  font-weight: 400;
  font-size: 13.1707px;
  line-height: 20px;
  color: #003F62;
}

/* Footer */

.footer {
  background: #E2F4FF;
  height: 511px;
}

.footer-upper {
  position: relative;
  top: 42px;
  height: 139px;
  width: 1320px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: #FFFFFF;
  border-radius: 20px;
}

.footer-upper-right {
  display: flex;
  justify-content: center;
}

.footer-upper-left p {
  font-weight: 700;
  font-size: 29.38px;
  line-height: 44px;
  color: #1B5A7D;
}

.footer-upper-mid {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  width: 388px;
  height: 63px;
  background: #EDA415;
  border-radius: 20px;
  padding: 0px 0px 0px 25px;
}