.upper-container {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

.upper-location {
    display: flex;
   
}
.upper-car {
    display: flex;
}

.upper-right {
    display: flex;
}

.upper-right p {
    margin: 0;
}

.navbar {
    background-color: #F4F4F4;
}